 # PHP CircleCI 2.0 configuration file
 #
 # Check https://circleci.com/docs/2.0/language-php/ for more details
 #
 version: 2
 jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:7.2-cli

    #working_directory: ~/repo

    steps:
      - run: sudo apt-get php7.2-ext php7.2-dom
#      - run:
#          name: Install PHP Extensions
#          command: sudo docker-php-ext-install gd exif

      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
      - v1-dependencies-

      - run: composer install -n

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}

      # run tests!
      - run: composer test
